<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Productivity tracker</title>
</head>
<body>
<form action="/available" method="POST">
    <button type="submit">Available</button>
</form>
<br>
<form action="/break" method="POST">
    <button type="submit">Break</button>
</form>

<br>
<form action="/coding" method="POST">
    <button type="submit">Coding</button>
</form>
<br>

<form action="/entertainment" method="POST">
    <button type="submit">Entertainment</button>
</form>
<br>

<form action="/learning" method="POST">
    <button type="submit">Learning</button>
</form>
<br>
<br>
<form action="/offline" method="POST">
    <button type="submit">Offline</button>
</form>
<br>
<h4>{{error}}</h4>
<!-- <h2>{productive_hours}} </h2> -->

<br>
<br>
<br>
<br>
<form action="/result" method="POST">

    <button type="submit">Evaluate</button>
</form>
{% if result %}
    <h3>Time spent in each AUX</h3>

    <ul>
    {% for aux, time in result %}
        <li>{{ aux }} : {{ time }} </li>
    {% endfor %}
    </ul>
{% endif %}
</body>
</html>